In [25]:
import numpy as np
import pandas as pd
import scipy as sc
import random
from scipy import stats
from sklearn.metrics import mean_squared_error
import math

In [3]:
def var_monte_carlo(df, n_sample=10_000):
    w = [4, 2, 6, 0.5]
    
    cols = df.columns
    
    col1 = df['Actuvia']
    std1 = np.std(col1)
    mean1 = np.mean(col1)
    
    col2 = df['Prost']
    std2 = np.std(col2)
    mean2 = np.mean(col2)
    
    col3 = df['Zhuw']
    std3 = np.std(col3)
    mean3 = np.mean(col3)
    
    col4 = df['Actim']
    std4 = np.std(col4)
    mean4 = np.mean(col4)
    
    col1_gen = np.random.normal(mean1, std1, n_sample)
    col2_gen = np.random.normal(mean2, std2, n_sample)
    col3_gen = np.random.normal(mean3, std3, n_sample)
    col4_gen = np.random.normal(mean4, std4, n_sample)
    
    help_dict = {cols[2]: col1_gen, cols[3]: col2_gen, cols[4]: col3_gen, cols[5]: col4_gen}
    
    new_df = pd.DataFrame(help_dict)
    
    new_df['Portfolio'] = new_df['Actuvia'] * w[0] + new_df['Prost'] * w[1] + new_df['Zhuw'] * w[2] + new_df['Actim'] * w[3]

    col_portfolio = new_df['Portfolio']
    
    std_port = np.std(col_portfolio)
    
    return 1.282 * std_port

In [13]:
def VAR_by_year(df):
    df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y', errors='ignore')
    df['year'] = df['date'].dt.year
    arr = []
    for i in [2016, 2017, 2018]:
        v = var_monte_carlo(df[df['year'] == i])
        arr.append(v)
    return arr

In [14]:
df = pd.read_csv('stress_test.csv', sep=';')

In [15]:
df.head()

         date  time    Actuvia      Prost       Zhuw      Actim
0  01.01.2016   -38  63.119383  38.784963  31.331871  87.445457
1  01.02.2016   -37  56.653106  40.012257  31.051250  86.428487
2  01.03.2016   -36  58.822023  46.706387  27.899228  95.764465
3  01.04.2016   -35  61.346837  48.953399  29.980562  87.885370
4  01.05.2016   -34  62.115184  33.558366  28.727459  87.116991

In [21]:
arr = VAR_by_year(df)
arr

[23.19487223631193, 26.043710236023305, 30.21927676072491]

In [22]:
df1 = pd.read_csv('data1.csv', sep=';')

In [23]:
arr_actual = VAR_by_year(df1)
arr_actual

[23.99470260089553, 25.143355925001007, 29.370589673181037]

In [27]:
rms = math.sqrt(mean_squared_error(arr, arr_actual))
print("Root Mean Squared Error: {0}".format(rms))

Root Mean Squared Error: 0.8506147326198997